table {
  width: 100%;
  margin: 20px 0;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 3px 6px 1px rgba(34, 60, 80, 0.18);
  border-radius: 20px;

  & thead {
    & tr {
      & th {
        font-size: 15px;
        padding: 10px 0;
        border-bottom: 2px solid #eee;
      }
    }
  }

  & tbody {
    & tr {
      & td {
        padding: 20px;
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.26);
      }
    }
  }
}
